# Configurações Gerais
IS_PRODUCTION=1
DEBUG=False
SECRET_KEY=sua-chave-secreta-de-producao
ALLOWED_HOSTS=localhost,127.0.0.1

# Banco de Dados Local (Docker)
DB_LOCAL_NAME=app_db
DB_LOCAL_USER=app_user
DB_LOCAL_PASSWORD=app_password
DB_LOCAL_HOST=postgres
DB_LOCAL_PORT=5432

# Banco de Dados Produção (DigitalOcean Managed PostgreSQL)
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

# SSL do Banco de Dados (Obrigatório para DigitalOcean)
DB_SSL_MODE=require