# Configurações Gerais
DEBUG=False
SECRET_KEY=sua-chave-secreta-de-producao
ALLOWED_HOSTS=seu-dominio.com,localhost

# Banco de Dados (DigitalOcean Managed PostgreSQL)
DB_NAME=defaultdb
DB_USER=doadmin
DB_PASSWORD=seu_password_da_digital_ocean
DB_HOST=seu-cluster-db-do-user-123.db.ondigitalocean.com
DB_PORT=25060

# SSL do Banco de Dados (Obrigatório para DigitalOcean)
DB_SSL_MODE=require